$primary : #474954;
$secondary : #F23000;
$third: #76ED7B;
$four: #628395;
$five: #fff;

.footer{
  background-color: $primary;
  color: $five;
  height: fit-content;
  width:100%;
  padding: 5vh 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10vh;
  &_top{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  &_bottom{
    width: 100%;
    text-align: center;
    a{
      color: #F23000;
      transition: 0.2s;
      height: fit-content;
      width: fit-content;
      @media screen and (max-width:1200px) {
        text-align: center;
      }
    }
  }
  @media screen and (max-width:1200px) {
    flex-direction: column;
  }
}//footer

.footer_section{
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
  align-items: start;
  width: 20%;
  h2{
    font-size: 30px;
  }
  @media screen and (max-width:1200px) {
    align-items: center;
  }
}

.footer_top{
  .footer_section3{
    ul{
      list-style: none;
      li{
        a{
          color: #fff;
          text-decoration: none;
        }
      }//li
    }//ul
  }//footer section 3
  @media screen and (max-width:1200px) {
    flex-direction: column;
    row-gap: 2vh;
    .footer_section{
      width: 60%;
      *{
        text-align: center;
      }
    }
  }
}//footer top