.bqn_college {
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 10vh;
}

.bqn_colllege_head {
  height: 75vh;
  width: 100%;
  background-color: #628395;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.bqn_colllege_head h1 {
  font-size: 45px;
}
@media screen and (max-width: 1200px) {
  .bqn_colllege_head h1 {
    text-align: center;
  }
}

.content_wrapper {
  padding: 2vh 4vw;
  margin-top: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10vh;
}
.content_wrapper .clg_section1 {
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
  align-items: start;
}
.content_wrapper .clg_section1 h3 {
  background-color: #F23000;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 25px;
  border-radius: 15px;
  color: white;
}
.content_wrapper .clg_section1 .nbrs_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 5vw;
       column-gap: 5vw;
  width: 100%;
}
.content_wrapper .clg_section1 .nbrs_wrapper .stat_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2vh;
}
.content_wrapper .clg_section1 .nbrs_wrapper .stat_item h1 {
  color: #628395;
}
@media screen and (max-width: 1200px) {
  .content_wrapper .clg_section1 .nbrs_wrapper .stat_item h1 {
    font-size: 28px;
  }
}
@media screen and (max-width: 1200px) {
  .content_wrapper .clg_section1 .nbrs_wrapper {
    flex-direction: column;
    row-gap: 0.5vh;
  }
}
.content_wrapper .clg_section1 .section1_text_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
}
.content_wrapper .clg_section1 .section1_text_container p {
  width: 50%;
  text-align: justify;
}
@media screen and (max-width: 1200px) {
  .content_wrapper .clg_section1 .section1_text_container p {
    width: 85%;
  }
}
@media screen and (max-width: 1200px) {
  .content_wrapper .clg_section1 {
    align-items: center;
  }
}
.content_wrapper .clg_section2 {
  width: 100%;
  position: relative;
  height: 50vh;
}
.content_wrapper .clg_section2 .succes_container {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  top: 35%;
  right: 45%;
  padding: 25px;
  background-color: #76ED7B;
  position: absolute;
  border-radius: 100%;
  z-index: 2;
}
@media screen and (min-width: 1650px) {
  .content_wrapper .clg_section2 .succes_container {
    right: 42%;
  }
}
@media screen and (max-height: 600px) {
  .content_wrapper .clg_section2 .succes_container {
    position: static;
  }
}
@media screen and (max-width: 1200px) {
  .content_wrapper .clg_section2 .succes_container {
    position: static;
  }
}
.content_wrapper .clg_section2 button {
  position: absolute;
  background-color: #76ED7B;
  height: 90px;
  width: 90px;
  border-radius: 100%;
  border: none;
  z-index: 2;
}
.content_wrapper .clg_section2 button:hover {
  cursor: pointer;
}
@media screen and (max-height: 600px) {
  .content_wrapper .clg_section2 button {
    position: static;
  }
}
@media screen and (max-width: 1200px) {
  .content_wrapper .clg_section2 button {
    position: static;
  }
}
.content_wrapper .clg_section2 button:nth-child(5) {
  top: 25%;
  left: 30%;
}
.content_wrapper .clg_section2 button:nth-child(6) {
  top: 25%;
  right: 35%;
}
.content_wrapper .clg_section2 button:nth-child(7) {
  bottom: -15%;
  left: 45%;
}
@media screen and (max-height: 600px) {
  .content_wrapper .clg_section2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    -moz-column-gap: 1vw;
         column-gap: 1vw;
  }
  .content_wrapper .clg_section2 svg {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .content_wrapper .clg_section2 {
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1vw;
  }
  .content_wrapper .clg_section2 svg {
    display: none;
  }
}

.clg_section3 {
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
  align-items: start;
  margin-top: 10vh;
}
.clg_section3 h3 {
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 25px;
  border-radius: 15px;
  background-color: #F23000;
  color: #fff;
}
.clg_section3 .services_wrapper {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 1vw;
       column-gap: 1vw;
  align-items: center;
  justify-content: center;
}
.clg_section3 .services_wrapper .service_item {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2vh;
  transition: 0.2s;
}
.clg_section3 .services_wrapper .service_item:hover {
  border-radius: 1em;
  cursor: pointer;
  box-shadow: 0px 0px 5px 1px rgba(242, 48, 0, 0.4);
}
.clg_section3 .services_wrapper .service_item p {
  width: 50%;
  text-align: center;
  color: #628395;
  font-weight: bold;
}
@media screen and (max-width: 1200px) {
  .clg_section3 .services_wrapper {
    flex-direction: column;
    row-gap: 1vh;
  }
}
@media screen and (max-width: 1200px) {
  .clg_section3 {
    align-items: center;
  }
}

.service_item_subst {
  height: 150px;
  width: 150px;
  background-color: #628395;
  border-radius: 100%;
}

.obstructor_wrapper {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.obstructor_wrapper .obstructor {
  position: relative;
  height: 300px;
  width: 500px;
  border-radius: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2vw;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  box-shadow: 0px 0px 5px 0.1px #fff;
}
.obstructor_wrapper .obstructor button {
  position: absolute;
  top: 25px;
  right: 1vw;
  padding: 10px 15px;
  background-color: #fff;
  border: none;
  border-radius: 2em;
}
.obstructor_wrapper .obstructor .results_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 5vw;
       column-gap: 5vw;
  width: 100%;
}

.results_container .result_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2vh;
  font-weight: bold;
}
.results_container .result_item p:first-child {
  background-color: #76ED7B;
  height: 70px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}
.results_container .result_item p:last-child {
  color: white;
}/*# sourceMappingURL=briquiny_college.css.map */