$primary : #474954;
$secondary : #F23000;
$third: #76ED7B;
$four: #628395;
$five: #fff;

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: $primary;
    color: $five;
    padding: 0px 20px 0px 20px;
    height: 100px;
    width: 100%;
    @media screen and (max-width: 880px) {
     flex-direction: column;
     gap: 20px;
     height: 100%;
     padding: 20px 0px 20px 0px;
    }
    @media screen and (max-width: 300px) {
     font-size: 0.6em;
    }

    &-h1{
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 2em;
    }

    &_right{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        @media screen and (max-width: 880px) {
            flex-direction: column;  
           }

        &_link{
            text-decoration: none;
            color: white;
        }
    }

    &-p{
        font-size: 1.3em;
    }
    &_language{
        outline: none;
        border-radius: 10px;
        background-color: $primary;
        color: $five;
        border: none;
        width: 50px;
    }
}

