.acceuil_message{
    font-family: Inter, serif;
    font-weight: bold;
    font-size: 35px;
    padding-top: 40px;
    padding-bottom: 20px;
    -webkit-text-fill-color: #628395;
    text-align: center;
}

/* partie css du fichier concour */
.date-concour{
    .label{
        font-weight: bold;
    }
}

.change-date{
    display: inline-block;
    background-color: #F23000;
    border-radius: 20px;
    border: 4px;
    color: white;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    width: 150px;
    height: 40.31%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.change-date:hover{
    box-shadow: 4px 6px 10px rgba(0,0,0,0.25);
}

