.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  width: 100%;
}
.container_div1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: gray;
  color: white;
  height: 70vh;
  width: 100%;
  text-align: center;
}
.container_div2 {
  display: flex;
  flex-direction: column;
  padding: 30px 0px 30px 0px;
  width: 70vw;
  gap: 80px;
}
.container_div2_div1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 30px;
}
@media screen and (max-width: 800px) {
  .container_div2_div1 {
    align-items: center;
  }
}
.container_div2_div1--p {
  text-align: center;
  text-align: justify;
}
.container_div2_div1_button {
  background-color: #F23000;
  color: white;
  padding: 10px 15px 10px 15px;
  border-radius: 10px;
  transition: box-shadow 0.2s ease-in-out;
}
@media screen and (max-width: 800px) {
  .container_div2_div1_button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 50px;
  }
}
.container_div2_div1_button:hover {
  box-shadow: 6px 6px 6px #cccccd;
}
.container_div2_div1_box {
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 10%;
}
@media screen and (max-width: 800px) {
  .container_div2_div1_box {
    flex-direction: column;
    gap: 40px;
  }
}
.container_div2_div1_box_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container_div2_div1_box_div--p1 {
  color: #628395;
  font-size: 2em;
}
.container_div2_div1_box_div--p2 {
  font-size: 1.5em;
}
.container_div2_div2 {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  height: 60vh;
}
.container_div2_div2_circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  margin-top: -30px;
  border-radius: 50%;
  background-color: #76ED7B;
}
@media screen and (max-width: 860px) {
  .container_div2_div2_circle {
    width: 150px;
    height: 150px;
  }
}
.container_div2_div2_circle2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #76ED7B;
}
@media screen and (max-width: 860px) {
  .container_div2_div2_circle2 {
    width: 100px;
    height: 100px;
  }
}

.contain {
  margin-left: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  height: 45vh;
  width: 2px;
}

.contain2 {
  display: flex;
  align-items: start;
  justify-content: space-between;
  border: 1px solid black;
  height: 2px;
  transform: rotate(180deg);
  width: 30vw;
  margin-left: 75px;
}
@media screen and (max-width: 860px) {
  .contain2 {
    margin-left: 20px;
  }
}

.contain3 {
  display: flex;
  flex-direction: row;
  transform: rotate(-180deg);
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  height: 2px;
  width: 55vw;
}

.text_rotate {
  transform: rotate(180deg);
}

.circle {
  margin-top: -75px;
  margin-left: -20px;
}
@media screen and (max-width: 860px) {
  .circle {
    margin-top: -50px;
  }
}

.circle3 {
  margin-left: -50px;
}

.circle4 {
  margin-bottom: -50px;
}

.p1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: -40px;
  margin-top: -20px;
  margin-bottom: 10px;
}

.p2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: -30px;
  margin-top: 10px;
}

.pcontain {
  position: relative;
}

.p3 {
  position: absolute;
  bottom: -75px;
  left: 35px;
  width: 100px;
}
@media screen and (max-width: 860px) {
  .p3 {
    left: 10px;
  }
}

.mobile_circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #76ED7B;
  margin-bottom: -20px;
}
@media screen and (max-width: 860px) {
  .mobile_circle {
    width: 100px;
    height: 100px;
  }
}

.mobile_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.mobile_container_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.mobile_container_div1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  gap: 10px;
  border-top: 2px solid black;
}

.slide {
  border: 1px solid black;
  width: 0px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.exam {
  margin-top: 20px;
}

.bloc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 30px;
}
@media screen and (max-width: 900px) {
  .bloc {
    align-items: center;
  }
}
.bloc_div1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F23000;
  color: white;
  padding: 10px 15px 10px 15px;
  border-radius: 10px;
  width: 200px;
  transition: box-shadow 0.2s ease-in-out;
}
@media screen and (max-width: 900px) {
  .bloc_div1 {
    height: 51px;
    width: 70vw;
    margin-bottom: 30px;
  }
}
.bloc_div1:hover {
  box-shadow: 6px 6px 6px #cccccd;
}
.bloc_div2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 40px;
}
.bloc_div2_div1, .bloc_div2_div2 {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 900px) {
  .bloc_div2_div1, .bloc_div2_div2 {
    flex-direction: column;
  }
}
.bloc_div2_div1_container, .bloc_div2_div2_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 300px;
}
@media screen and (max-width: 900px) {
  .bloc_div2_div1_container, .bloc_div2_div2_container {
    width: 70vw;
  }
}
.bloc_div2_div1_container_circle, .bloc_div2_div2_container_circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: gray;
}
.bloc_div3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 900px) {
  .bloc_div3 {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 40px;
  }
}
.bloc_div3_div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 150px;
  gap: 10px;
}
@media screen and (max-width: 900px) {
  .bloc_div3_div {
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
  }
}
.bloc_div3_div--p {
  font-size: 1.2em;
}
.bloc_div3_box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  width: 300px;
  height: 160px;
  border-radius: 20px;
  transition: box-shadow 0.2s ease-in-out;
}
@media screen and (max-width: 900px) {
  .bloc_div3_box {
    width: 70vw;
  }
}
.bloc_div3_box:hover {
  box-shadow: 8px 8px 8px #ea866d;
}/*# sourceMappingURL=index.css.map */