.structure-name.password-admin{
    background-color: rgba(230, 230, 234, 0.5);
    width: 200px;
}
.login{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 500px;
    border: 3px;
    border-radius: 20px;
}