$primary : #474954;
$secondary : #F23000;
$third: #76ED7B;
$four: #628395;
$five: #fff;

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 99vw;
    height: 90vh;

    &_contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 80px;

        &--h1{
            font-size: 4em;
        }
    
        &_div{
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 100px;
            align-items: center;
            width: 100%;

            &_div{
                display: flex;
                flex-direction: column;
                gap: 30px;
                width: 25%;
                font-size: 1.5em;
                border: 1px solid black;
                padding: 40px;
                border-radius: 20px;
                box-shadow: 6px 6px 6px rgb(165, 163, 163);

                &_div1{

                    &--p{
                        font-weight: bold;
                    }
                }
                &_div2{

                    &--p{
                        font-weight: bold;
                    }
                }
                &_div3{

                    &--p{
                        font-weight: bold;
                    }
                }
            }
        }
    }
}