$primary : #474954;
$secondary : #F23000;
$third: #76ED7B;
$four: #628395;
$five: #fff;

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;

    &_contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0px 60px;
        margin-top: 30px;
        gap: 80px;

        @media screen and (max-width: 500px) {
            padding: 0px 20px;
            text-align: center;
            font-size: 0.8em;
        }

        &--h1{
            font-size: 4em;
            @media screen and (max-width: 635px) {
                font-size: 2.8em;
            }
            @media screen and (max-width: 450px) {
                font-size: 1.8em;
            }
            @media screen and (max-width: 280px) {
                font-size: 1.3em;
            }
        }

        &_div{
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 100px;
            align-items: center;
            width: 100%;
            padding-bottom: 30px;
            @media screen and (max-width: 1138px) {
                flex-direction: column;
            }

            &--img{
                width: 40%;
                @media screen and (max-width: 1138px) {
                    width: 100%;
                }
                // @media screen and (max-width: 500px) {
                //     height: 200%;
                // }

            }

            &_div{
                display: flex;
                flex-direction: column;
                gap: 30px;
                width: 100%;
                font-size: 1em;
                border: 1px solid black;
                padding: 40px;
                border-radius: 20px;
                box-shadow: 6px 6px 6px rgb(165, 163, 163);
                @media screen and (max-width: 1138px) {
                    width: 100%;
                }

                &_div1{

                    &--p{
                        font-weight: bold;
                    }
                }
                &_div2{

                    &--p{
                        font-weight: bold;
                    }
                }
                &_div3{

                    &--p{
                        font-weight: bold;
                    }
                }
            }
        }
    }
}